{% if page.name contains 'index' %}
<section class="call-to-action">
  <ul>
    <li class="group">
      <div class="cta-inner">
        <div class="text">
            <h2>Is your tub ugly and damaged? Are you tired of the way your tub looks?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, dignissimos, sequi. Veniam et molestias doloribus dolor quos omnis, cupiditate, voluptas sit minus totam nobis at atque amet alias aliquid. Adipisci!</p>
        </div>
      </div>
    </li>
    <li class="group">
      <div class="cta-inner">
        <div class="text">
            <h2>Fix it now and call Ronald {{ site.phone }}.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam tempora quia autem, repudiandae laboriosam quibusdam? Quisquam maxime quasi autem impedit accusamus fugiat unde quia soluta alias. Fugit accusamus maxime, nesciunt!</p>
        </div>
      </div>
    </li>
  </ul>
</section>
{% else %}
<section class="eyecatcher">
    <section class="title">
        <h1 class="site-title">
            {{ page.title }}
        </h1>
        <h2 class="site-description">
            {{ page.subtitle }}
        </h2>
    </section>
    <img src="{{thumbnail}}" alt="{{page.title}}">
</section>
{% endif %}