{% if page.name contains 'index' %}
<section class="call-to-action">
  <ul>
    <li class="group">
      <div class="cta-inner">
        <div class="text">
            <h2>Is your tub ugly and damaged? Or are you tired of the way your tub looks?</h2>
            <p>{{ site.company }} will repair or refinish all of your bathtubs, shower bases, sinks and tiles. Repairing damaged bathtubs is a speciality. This asks for an expert that knows their way around all of the different bathtub materials. Using this knowledge and competent techniques lead to competent repairs. {{ site.company }} is the answer to all of your bathtub, sink or tile problems.</p>
        </div>
      </div>
    </li>
    <li class="group">
      <div class="cta-inner">
        <div class="text">
            <h2>Bring your damaged or old tubs, showers, sinks and tiles back to life!</h2>
            <h3>Services we provide:</h3>
            <ul>
              <li>Acrylic tubs and showers</li>
              <li>Quaryl tubs and showers</li>
              <li>Emaille tubs and showers</li>
              <li>Ceramic sinks</li>
              <li>Floor- and wall tiles</li>
            </ul>
        </div>
      </div>
    </li>
  </ul>
</section>
{% else %}
<section class="eyecatcher">
    <section class="title">
        <h1 class="site-title">
            {{ page.title }}
        </h1>
        <h2 class="site-description">
            {{ page.subtitle }}
        </h2>
    </section>
    <img src="{{thumbnail}}" alt="{{page.title}}">
</section>
{% endif %}