<footer class="footer">
   <section class="footer-primary">
       <div class="inner">
            <ul>
                <li>
                    <h3>Service Area</h3>
                    <p>
                        We proudly serve <em>Cloverdale</em>, <em>Troutville</em>, <em>Bonsack</em>, <em>Blue Ridge</em>, <em>Hollins</em>, <em>Daleville</em>, <em>Fincastle</em> and of course <em>Roanoke</em>, <em>Virginia</em>.
                    </p>
                </li>
                <li>
                    <h3>Contact</h3>
                    <h4>
                        <i class="fa fa-phone"></i>
                        {{ site.phone }}
                    </h4>
                    <p>
                        Call for a <strong>free</strong> estimate!
                    </p>
                    <p>info@ronaldlovern.com</p>
                </li>
                <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25370.705036724157!2d-79.9052305!3d37.3581754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1482626841668" width="360" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
                </li>
            </ul>
       </div>
   </section>
   <section class="footer-secondary">
        <div class="inner">
            <section class="copyright">
                <p>
                    Copyright 2016 - Ronald Lovern, Bathtubs &amp; Sinks - Repair &amp; Refinish
                </p>
            </section>
        </div>
   </section>
</footer>