<footer class="footer">
   <section class="footer-primary">
        <div class="row-one">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>   
        <div class="inner">
            <ul>
                <li>
                    <h3>Service Area</h3>
                    <p>
                        We proudly serve <em>Cloverdale</em>, <em>Troutville</em>, <em>Bonsack</em>, <em>Blue Ridge</em>, <em>Hollins</em>, <em>Daleville</em>, <em>Fincastle</em> and of course <em>Roanoke</em>, <em>Virginia</em>.
                    </p>
                </li>
                <li>
                    <h3>Contact</h3>
                    <h4>
                        <i class="fa fa-phone"></i>
                        {{ site.phone }}
                    </h4>
                    <p>
                        Call for a <strong>free</strong> estimate!
                    </p>
                    <p>info@ronaldlovern.com</p>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
   </section>
   <section class="footer-secondary">
        <div class="row-two">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>   
        <div class="inner">
            <section class="copyright">
                <p>
                    Copyright 2016 - Ronald Lovern, Bathtubs &amp; Sinks - Repair &amp; Refinish
                </p>
            </section>
        </div>
   </section>
</footer>