<nav class="mobile">
    <a href="#"><span></span></a>
    <ul>
    {% for page in site.navigation %}
        <li>
            <a href="/{{ page }}">{{ page | replace: '-', ' ' }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>
<nav class="desktop">
    <ul>
    {% for item in site.navigation %}
        <li>
            {% if page.url contains item or item contains 'home' and page.url == '/' %}
                <a href="/{% unless item contains 'home' %}{{ item }}{% endunless %}" class="active">
                    {{ item | replace: '-', ' ' }}
                </a>
            {% else %}
                <a href="/{% unless item contains 'home' %}{{ item }}{% endunless %}">
                    {{ item | replace: '-', ' ' }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>