<section class="reviews">
    <ul class="slides">
        <li>
            <ul class="stars group">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>            
            <h3>Dana Summers</h3>
            <blockquote>
                This was the best service I've ever had. Communicating with Ronald went smoothly.
            </blockquote>
        </li>
        <li>
            <ul class="stars group">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <h3>John Waters</h3>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam laudantium deleniti, voluptatum accusantium quasi iure non obcaecati itaque hic, ad cupiditate mollitia, vitae dolore natus repellendus? Voluptate sequi dolores numquam.
            </blockquote>
        </li>        
    </ul>
</section>