<section class="reviews">
    <div class="inner">
        <ul class="slides">
            <li>
                <ul class="stars group">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>            
                <blockquote>
                    This was the best service I've ever had. Communicating with Ronald went smoothly.
                </blockquote>
                <h3>- Dana Summers</h3>
            </li>
            <li>
                <ul class="stars group">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam laudantium deleniti.
                </blockquote>
                <h3>- John Waters</h3>
            </li>       
            <li>
                <ul class="stars group">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam laudantium deleniti.
                </blockquote>
                <h3>- John Doe</h3>
            </li>     
            <li>
                <ul class="stars group">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>            
                <blockquote>
                    This was the best service I've ever had. Communicating with Ronald went smoothly.
                </blockquote>
                <h3>- Jarred Jameson</h3>
            </li>
            <li>
                <ul class="stars group">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam laudantium deleniti.
                </blockquote>
                <h3>- Peter Petrelli</h3>
            </li>       
            <li>
                <ul class="stars group">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam laudantium deleniti.
                </blockquote>
                <h3>- Jackie Wilson</h3>
            </li>                           
        </ul>
    </div>
</section>