.header {
    overflow: hidden;
    background-image: 
        url("http://i.imgur.com/rCPa5jX.png");
    color: $accent-color2;
    position: relative;
    font-size: 1.2em;
    font-family: $font-heading;

    &:before {
        content: '';
        background: darken($primary-color,30%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .4;
    }

    h2, h3 {
        font-size: 1em;
        margin: 0 0 1em 0;
    }

    h3 {
        color: $accent-color1;
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    a {
        border: none;
    }

    .inner {
        padding: 1em;
    }

    .logo {
        @include span-columns(5);
        display: inline-block;
        z-index: 10;
        position: relative;
        
        a {
            color: $accent-color2;

            &:hover {
                color: $accent-color3;
            }
        }
    }

    .experience-container {
        @include span-columns(2);
        text-align: center;
        position: relative;

        .experience {
            background: $accent-color5;
            padding: 1em;
            height: 6em;
            width: 6em;
            margin: .6em 0 0 50%;
            transform: translateX(-50%);
                        
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 6em;
                height: 6em;
                background: inherit;
                z-index: 1;
                transform: rotate(30deg);
            }

            &:after {
                transform: rotate(-30deg);
            }

            span {
                display: block;
                color: $accent-color1;
                padding: 0 0 0 0;
                z-index: 10;
                position: relative;

                &:first-child {
                    margin-top: -.8em;
                    padding: 0 0 .2em 0;
                    color: $accent-color2;
                }

                em {
                    font-style: normal;
                    font-size: 3.5em;
                    font-weight: bold;
                    text-shadow: -1px -2px 0 darken($accent-color5,15%);
                    font-family: $font-copy;
                }

                &:last-child {
                    position: absolute;
                    bottom: -.3em;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 160%;
                    background: linear-gradient(darken($accent-color4,10%), $accent-color4);
                    padding: .2em;
                }
            }
        }   
    }

    .phone {
        @include span-columns(5);
        z-index: 10;
        position: relative;

        .text {
            float: right;
            
            em {
                font-style: normal;
                color: $accent-color4;
            }
        }
    }

    nav {
        background-color: lighten($primary-color, 30%);
        z-index: 500;
        position: relative;
    }

    nav.mobile {
        display: none;
        
        @include media($mobile) {
            display: block;

            span { 
                position: absolute; 
                right: 1em; 
                top: 1.5em;

                &:before {
                    top: -10px;
                }

                &:after {
                    bottom: -10px; 
                }
            }

            span, 
            span:before,
            span:after {
                cursor: pointer;
                border-radius: 1px;
                height: 5px;
                width: 35px;
                background: $accent-color2;
                position: absolute;
                display: block;
                content: '';
                transition: all .5s ease-in-out;
            }

            a {               
                &:hover {
                    span, 
                    span:before,
                    span:after {
                        background: $accent-color3;
                    }
                }
            }

            &.active { 

                span {
                    transform: rotate(-90deg);

                    &:before, 
                    &:after {
                        top: 0;
                    }

                    &:before {
                        top: -10px;
                    }

                    &:after {
                        top: 10px;
                    }
                }
            }

            ul {
                margin: 0;
                list-style: none;
                display: none;
                transition: opacity 0.5s linear;

                li {
                    padding: 0;
                    text-align: center;
                    
                    a {
                        display: block;
                        padding: 1em;
                        color: $accent-color3;
                        text-decoration: none;
                        transition: background-color .2s ease-in-out;

                        &:hover {
                            color: $accent-color1;
                            background: $accent-color3;
                        }
                    }
                }
            }            
        }
    }

    nav.desktop {
        text-align: center;

        ul {
            display: inline-block;
            margin: 0;
            list-style: none;

            li {
                float: left;
                padding: 0;
                
                a {
                    display: block;
                    padding: 1em;
                    color: $accent-color3;
                    text-decoration: none;

                    &:hover,
                    &.active {
                        color: $accent-color4;
                    }
                }
            }
        }

        &.stuck {
            position: fixed;
            margin: 0 !important;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            background: white;
            z-index: 500;
            box-shadow: 0 5px 5px -5px rgba(0,0,0,.5);
        }        

        @include media($mobile) {
            display: none;
        }
    }
}