.footer {
    position: relative;
    .footer-primary {
        padding: 1em 0;

        ul {
            list-style: none;
            margin: 0;

            &>li {
                @include span-columns(4);

                h3 {
                    border-bottom: 1px solid $accent-color3;
                    padding: 0 0 .3em 0;
                }
                
                h4 {
                    padding: .4em 0 0 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .footer-secondary {
        color: $accent-color3;
        padding: 1em 0;

        p {
            margin: 0;
            text-align: center;
        }
    }
}