// Fonts
$font-copy: 'Roboto Condensed', sans-serif;
$font-heading: 'Roboto Condensed', sans-serif;

$primary-color: #a8dadc;

$accent-color1: #f1faee;
$accent-color2: #457b9d;
$accent-color3: #1d3557;
$accent-color4: #e63946;
$accent-color5: #f1da36;

$mobile: new-breakpoint(max-width 500px);
$desktop: new-breakpoint(min-width 1200px);